@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --bg-primary: #0e1217;
  --bg-secondary: #1c1f26;
  --bg-tertiary: #32353b;
  --bg-cuaternary: #2b2e34;
  --primary: #fff;
  --accent: #42b883;
  --accent-darker: #707789;
  --muted: #525866;
}
.light {
  --bg-primary: #ffffff; /* Blanco para el fondo principal */
  --bg-secondary: #f5f5f5; /* Gris claro para el fondo secundario */
  --bg-tertiary: #e0e0e0; /* Gris medio para el fondo terciario */
  --bg-quaternary: #cccccc; /* Gris medio para el fondo cuaternario */
  --primary: #42b883; /* Verde para el color primario */
  --accent: #42b85d; /* Verde más oscuro para resaltar */
  --accent-darker: #20692e; /* Verde oscuro para resaltar aún más */
  --muted: #6c757d; /* Gris suave paris suave para texto secundario o  /* Gris suave para texto secundar/* Gris suave para texto secundario o elementos menos importantes */
}
